Stripe Payment Gate
<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        Stripe Payment Gate
      </h1>
      <p class="lead">
        Payment Gateway
      </p>
      <form action="charge" method="POST">
        <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_OAlVncXl8ZRSfxb22ueVDqaW"
        data-amount="2500"
        data-name="Stripe Payment Gate"
        data-image="img/marketplace.png"
        data-locale="auto"
        data-currency="gbp">
        </script>
      </form>
    </div>
  </div>
</section>
